:root {
  --primary-color: #002f6c;
  --accent-color: #ffffff;
  --bg-color: #f0f8ff;
  --font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  background-color: var(--bg-color);
  color: var(--primary-color);
  line-height: 1.6;
  padding: 1rem;
}

header, footer {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 1rem;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin: 1rem 0;
}z

.weather {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  background: #e6eef8;
  border-radius: 8px;
}

.weather-icon-mobile {
  width: 50px;
  display: block;
  margin-top: 1rem;
}

/* Pseudo element for large view */
@media (min-width: 768px) {
  .weather h2::after {
    content: " ⛅";
    font-size: 1.5rem;
  }

  .weather-icon-mobile {
    display: none;
  }
}

.data {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  background: #e6eef8;
  border-radius: 8px;

}

/* Pseudo element for large view */
@media (min-width: 768px) {
  .data h2::after {
    font-size: 1.5rem;
  }
}
